<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.navCollapsed = !vm.navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="/content/images/front/logo.png"> </a>
            <span class="eh-brand-title">宜心健康 | eheart</span>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" uib-collapse="vm.navCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="">
                    <a ui-sref="front-home" ng-click="vm.navCollapsed = true">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->

                <li ui-sref-active="" ng-click="">
                    <a ui-sref="front-home" ng-click="vm.navCollapsed = true">
                        <span class="glyphicon glyphicon-cloud"></span>
                        <span class="hidden-sm" translate="global.menu.product">Product</span>
                    </a>
                </li>
                <li ui-sref-active="">
                    <a ui-sref="front-home" ng-click="vm.navCollapsed = true">
                        <span class="glyphicon glyphicon-download"></span>
                        <span class="hidden-sm" translate="global.menu.download">Download</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
